fastapi==0.95.2
uvicorn[standard]==0.22.0
numpy==1.25.2
pandas==2.2.2
rasterio==1.4.12
aiofiles==23.1.0
python-multipart==0.0.6
pydantic==2.6.3
tensorflow==2.14.0
gunicorn==20.1.0
python-dotenv==1.0.0
